<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css">

</head>


<body>
    <div>
        <input type="file" id="fileInput" accept="image/*"><br><br>
        <img id="preview" style="max-width: 100%; display: none;"><br>
        <button id="cropBtn" style="display: none;">crop</button>

    </div id="croppedResults">
    <h3>Cropped Images</h3>

    <img id="croppedImgs">

    <div>

    </div>

</body>

</html>
<script>
    const imageInput = document.getElementById("fileInput");
    const previewImg = document.getElementById("preview");
    const cropBtn = document.getElementById("cropBtn");
    const croppedImg = document.getElementById("croppedImgs")
    const originalImages = [];
    let cropper;

    imageInput.addEventListener("change", function (e) {
        const selectedImg = e.target.files[0];
        if (!selectedImg) return;

        previewImg.src = URL.createObjectURL(selectedImg);

        // if(!originalImages){
        //     originalImages = [];
        // }else {
        //     originalImages.push(previewImg.src);
        // }

        previewImg.style.display = "block";
        cropBtn.style.display = "inline-block";

        if (cropper) {
            cropper.destroy();
        }

        cropper = new Cropper(previewImg, {
            aspectRatio: 1,
            viewMode: 1,
            autoCropArea: 0.8
        })
    })

    cropBtn.addEventListener("click", function () {
        if (!cropper) return;

        const canvas = cropper.getCroppedCanvas({
            width: 300,
            height: 300
        })

        croppedImg.src = canvas.toDataURL("image/png");
        cropBtn.style.display = "none";
        cropper.destroy();
        cropper = null;

        canvas.toBlob(async (blob) => {
            const formData = new FormData();
            formData.append("croppedImg", blob, `cropped_${Date.now()}.png`);

            const response = await fetch("/upload", {
                method: "POST",
                body: formData,
            });

            const result = await response.json();

        }, )

    }, "image/png");


</script>


<!-- Image 1 -->
                                            <div class="form-group">
                                                <label for="images-1-1">Product Image 1</label>
                                                <input type="file" id="images-1-1" name="variants[1][images][]"
                                                    class="variant-images" accept="image/*">

                                                <div class="image-preview-wrapper">
                                                    <img id="preview-1-1" style="max-width:300px; display:none;">
                                                </div>

                                                <div class="image-actions">
                                                    <button type="button" id="cropBtn-1-1"
                                                        style="display:none;">Crop</button>
                                                    <button type="button" id="closeBtn-1-1"
                                                        style="display:none;">Cancel</button>
                                                </div>

                                                <div id="croppedGallery-1-1"
                                                    style="display:flex; gap:10px; flex-wrap:wrap;">

                                                    <img id="croppedImgs">

                                                </div>
                                            </div>

                                            <!-- Image 2 -->
                                            <div class="form-group">
                                                <label for="images-1-2">Product Image 2</label>
                                                <input type="file" id="images-1-2" name="variants[1][images][]"
                                                    class="variant-images" accept="image/*">

                                                <div class="image-preview-wrapper">
                                                    <img id="preview-1-2" style="max-width:300px; display:none;">
                                                </div>

                                                <div class="image-actions">
                                                    <button type="button" id="cropBtn-1-2"
                                                        style="display:none;">Crop</button>
                                                    <button type="button" id="closeBtn-1-2"
                                                        style="display:none;">Cancel</button>
                                                </div>

                                                <div id="croppedGallery-1-2"
                                                    style="display:flex; gap:10px; flex-wrap:wrap;">

                                                    <img id="croppedImgs">

                                                </div>
                                            </div>

                                            <!-- Image 3 -->
                                            <div class="form-group">
                                                <label for="images-1-3">Product Image 3</label>
                                                <input type="file" id="images-1-3" name="variants[1][images][]"
                                                    class="variant-images" accept="image/*">

                                                <div class="image-preview-wrapper">
                                                    <img id="preview-1-3" style="max-width:300px; display:none;">
                                                </div>

                                                <div class="image-actions">
                                                    <button type="button" id="cropBtn-1-3"
                                                        style="display:none;">Crop</button>
                                                    <button type="button" id="closeBtn-1-3"
                                                        style="display:none;">Cancel</button>
                                                </div>

                                                <div id="croppedGallery-1-3"
                                                    style="display:flex; gap:10px; flex-wrap:wrap;">
                                                    <img id="croppedImgs">


                                                </div>
                                            </div>

                                            <!-- Image 4 -->
                                            <div class="form-group">
                                                <label for="images-1-4">Product Image 4</label>
                                                <input type="file" id="images-1-4" name="variants[1][images][]"
                                                    class="variant-images" accept="image/*">

                                                <div class="image-preview-wrapper">
                                                    <img id="preview-1-4" style="max-width:300px; display:none;">
                                                </div>

                                                <div class="image-actions">
                                                    <button type="button" id="cropBtn-1-4"
                                                        style="display:none;">Crop</button>
                                                    <button type="button" id="closeBtn-1-4"
                                                        style="display:none;">Cancel</button>
                                                </div>

                                                <div id="croppedGallery-1-4"
                                                    style="display:flex; gap:10px; flex-wrap:wrap;">
                                                    <img id="croppedImgs">


                                                </div>
                                            </div>