body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
}

h1 {
    color: #000;
    margin-bottom: 20px;
}

/* Top button */
#add-category {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 15px;
}

#add-category:hover {
    background-color: #0056b3;
}

/* Search */
.search-box {
    position: relative;
    width: 250px;
    margin-bottom: 20px;
}

.search-box input {
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

#clear-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: gray;
    display: none;
}

/* Table */
.table-container {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background: #f8f9fa;
    color: #000;
    font-weight: 600;
}

tr:hover {
    background-color: #f8f9fa;
}

/* Buttons */
.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85rem;
    margin-right: 5px;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.btn-edit {
    background-color: #3665f2;
    color: white;
}

.btn-delete {
    background-color: #fd1427;
    color: white;
}

.btn-listed {
    background-color: #077a20;
    color: white;
}

.btn-listed:hover {
    background-color: #077a20;
}
.btn-unlisted {
    background-color: #d37414;
    color: white;
}

.btn-unlisted:hover {
    background-color: #fd890d;
}

.btn-view {
    background-color: #fd890d;
    padding: 6px 12px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85rem;
    margin-right: 5px;
    transition: opacity 0.2s;
}

.btn-view:hover {
    background-color: #fd890d;
}


/* Pagination */
.pagination .btn {
    margin: 0 3px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
}

.pagination .btn:hover {
    background: #eaeaea;
}

.pagination .btn-edit {
    background: #007bff;
    color: white;
    border-color: #007bff;
    font-weight: bold;
}