<%- include("../partials/user/header") %>

    <head>
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <div class="main-content">
            <div class="login-container">
                <h1>Login</h1>

                <form action="/login" method="POST" id="login-form">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                        <div id="error-email" class="error-message"></div>

                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                        <div id="error-passwod" class="error-message"></div>

                    </div>

                    <div>
                        <a href="/signup">Signup</a>
                        <a href="/forgotPassword">Forgot Password</a>
                    </div>

                    <div class="buttons">
                        <button type="submit" class="btn btn-signup">Login</button>
                        <div id="error3" class="error-message"></div>

                    </div>
                </form>


                <div class="social-login">
                    <div class="social-text">Or continue with</div>
                    <div class="social-icon">G</div>
                    <!-- Add more social icons as needed -->
                </div>
            </div>
        </div>

        <%- include('../partials/user/footer') %>
    </body>

    </html>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('login-form');
            const emailInput = document.getElementById("email");
            const passwordInput = document.getElementById('password');
            //const error = document.getElementById('error');
            const emailError = document.getElementById('error-email');
            const passwordError = document.getElementById('error-password');

            emailInput.addEventListener('input', validateEmail);
            // Form submission handler
            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission

                const isEmailValid = validateEmail();

                if (isEmailValid) {
                    form.submit(); // Submit if validation passes
                }

            });

            function validateEmail() {
                const email = emailInput.value.trim();
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(email)) {
                    emailError.textContent = 'Please enter a valid email address';
                    return false;
                } else {
                    emailError.textContent = "";
                    return true;
                }

            }
        })
        const message = "<%= message %>";
        const type = "<%= type %>";

        if (message || message.trim() !== '') {
            Swal.fire({
                icon: type,
                text: message,
                confirmButtonColor: '#007bff'
            })
        }

    </script>