/* Forgot password specific */

.single-card-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-card {
  width: 420px;
  background: #fff;
  padding: 40px;
  border-radius: 25px;
}

.single-card h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.single-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}